body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    padding-left: 50px;
    font-size: 50px;
    margin-left: 30px;
}

h2 {
    font-size: 40px;
    padding-left: 80px;
}

h3 {
    padding-left: 80px;
}

p {
    padding-left: 80px;
}

.oreng {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {

    width: 50%;
    text-align: left;

}

.half-width img {
    width: 80%;
    padding-left: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 700;
    margin-left: 80px;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 80px;
}

.half {
    width: 50%;
    padding-right: 250px;

}

.dev-text {}

.experience-area {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    background-image: linear-gradient(orange, red);

    box-shadow: 10px 10px 10px rgb(252, 4, 78);
}

footer p {
    text-align: center;

}